<li>Carpool #<%= ride.id %>
  <ul>
    <li class="driver">Driver: <%= ride.driver.username %></li>
    <% ride.free_seats.times do %>
    <li class="passenger">Passenger:</li>
    <% end %>
  </ul>
</li>
